{% extends 'public/index.html' %}
{% block css %}
<link href="/static/assets/theme/default/style.min.css" rel="stylesheet"/>
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/select2/select2.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/select2/select2-metronic.css"/>
<link rel="stylesheet" href="/static/assets/css/DT_bootstrap.css"/>
<!-- END PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/bootstrap-select/bootstrap-select.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/jquery-multi-select/css/multi-select.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/clockface/css/clockface.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/bootstrap-colorpicker/css/colorpicker.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" />
{#<link rel="stylesheet" type="text/css" href="/static/assets/plugins/bootstrap-datetimepicker/css/datetimepicker.css" />#}

{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="container">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat blue">
                    <div class="visual">
                        <i class="fa fa-coffee"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                             {{ statutory_annual_leave_available }}
                        </div>
                        <div class="desc">
                             法定年假剩余天数
                        </div>
                    </div>
            {#        <a class="more" href="#">#}
            {#             View more <i class="m-icon-swapright m-icon-white"></i>#}
            {#        </a>#}
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat purple">
                    <div class="visual">
                        <i class="fa fa-coffee"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                             {{ company_annual_leave_available }}
                        </div>
                        <div class="desc">
                             公司年假剩余天数
                        </div>
                    </div>
            {#        <a class="more" href="#">#}
            {#             View more <i class="m-icon-swapright m-icon-white"></i>#}
            {#        </a>#}
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat yellow">
                    <div class="visual">
                        <i class="fa fa-coffee"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                             {{ seasons_leave_available }}
                        </div>
                        <div class="desc">
                             季度假剩余天数
                        </div>
                    </div>
            {#        <a class="more" href="#">#}
            {#             View more <i class="m-icon-swapright m-icon-white"></i>#}
            {#        </a>#}
                </div>
            </div>
        </div>
        <div class="portlet box grey tasks-widget">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>请假申请
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover table-full-width"  id="datatables">
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <th>部门</th>
                        <th>直属主管</th>
                        <th>部门负责人</th>
                        <th>入职日期</th>
                        <th>毕业日期</th>
                        <th>可用法定年假</th>
                        <th>已用法定年假</th>
                        <th>总共法定年假</th>
                        <th>可用公司年假</th>
                        <th>已用公司年假</th>
                        <th>总共公司年假</th>
                        <th>可用季度假</th>
                        <th>已用季度假</th>
                        <th>总共季度假</th>
                        <th>ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">添加员工</h4>
                </div>
                <div class="modal-body form">
                    <form action="#" class="form-horizontal form-row-seperated">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">姓名</label>

                            <div class="col-sm-8">
                                <div class="input-group">
                                    <span class="twitter-typeahead"
                                          style="position: relative; display: inline-block;">
                                        <input type="text" class="form-control tt-hint"
                                               disabled="" autocomplete="off" spellcheck="false"
                                               style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);">
                                        <div type="text" id="name"
                                             name="typeahead_example_modal_1"
                                             class="form-control tt-input" autocomplete="off"
                                             spellcheck="false" dir="auto"
                                             style="width: 250px;position: relative; vertical-align: top; background-color: transparent;"></div><pre
                                            aria-hidden="true"
                                            style="position: absolute; visibility: hidden; white-space: nowrap; font-family: 'Open Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
                                            class="tt-dropdown-menu"
                                            style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div
                                            class="tt-dataset-1"></div></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">部门</label>

                            <div class="col-sm-8">
                                <div class="input-group">
                                                                <span class="twitter-typeahead"
                                                                      style="position: relative; display: inline-block;">
                                                                    <input type="text" class="form-control tt-hint"
                                                                           disabled="" autocomplete="off" spellcheck="false"
                                                                           style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);">
                                                                    <input type="text" id="department"
                                                                           name="typeahead_example_modal_1"
                                                                           class="form-control tt-input" autocomplete="off"
                                                                           spellcheck="false" dir="auto"
                                                                           style="width: 250px;position: relative; vertical-align: top; background-color: transparent;"><pre
                                                                        aria-hidden="true"
                                                                        style="position: absolute; visibility: hidden; white-space: nowrap; font-family: 'Open Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
                                                                        class="tt-dropdown-menu"
                                                                        style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div
                                                                        class="tt-dataset-1"></div></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">直属主管</label>

                            <div class="col-sm-8">
                                <div class="input-group">
                                    <span class="twitter-typeahead"
                                          style="position: relative; display: inline-block;">
                                        <input type="text" class="form-control tt-hint"
                                               disabled="" autocomplete="off" spellcheck="false"
                                               style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);">
                                        <div type="text" id="supervisor"
                                             name="typeahead_example_modal_1"
                                             class="form-control tt-input" autocomplete="off"
                                             spellcheck="false" dir="auto"
                                             style="width: 250px;position: relative; vertical-align: top; background-color: transparent;"></div><pre
                                            aria-hidden="true"
                                            style="position: absolute; visibility: hidden; white-space: nowrap; font-family: 'Open Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
                                            class="tt-dropdown-menu"
                                            style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div
                                            class="tt-dataset-1"></div></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">部门负责人</label>

                            <div class="col-sm-8">
                                <div class="input-group">
                                    <span class="twitter-typeahead"
                                          style="position: relative; display: inline-block;">
                                        <input type="text" class="form-control tt-hint"
                                               disabled="" autocomplete="off" spellcheck="false"
                                               style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);">
                                        <div type="text" id="principal"
                                             name="typeahead_example_modal_1"
                                             class="form-control tt-input" autocomplete="off"
                                             spellcheck="false" dir="auto"
                                             style="width: 250px;position: relative; vertical-align: top; background-color: transparent;"></div><pre
                                            aria-hidden="true"
                                            style="position: absolute; visibility: hidden; white-space: nowrap; font-family: 'Open Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
                                            class="tt-dropdown-menu"
                                            style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div
                                            class="tt-dataset-1"></div></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">入职日期</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group input-medium date date-picker" style="float: left" data-date-format="yyyy-mm-dd" data-date-end-date="+31d" >

                                        <input type="text" class="form-control" id='join_date' readonly="">
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">毕业日期</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group input-medium date date-picker" style="float: left" data-date-format="yyyy-mm-dd" data-date-end-date="+31d" >

                                        <input type="text" class="form-control" id='graduate_year' readonly="">
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="id" style="display: none"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="rule_save()"><i class="fa fa-check"></i>保存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body form">
                <form action="#" class="form-horizontal form-row-seperated">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="text-align:center;width:100%"><h4>您确定要删除吗</h4></label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="twitter-typeahead"
                                      style="position: relative; display: inline-block;">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onclick="del()"><i class="fa fa-check"></i>确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--/datatables-->
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/assets/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/data-tables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/data-tables/DT_bootstrap.js"></script>

<!--<script src="/static/assets/plugins/context.js"></script>-->
<!--<script src="/static/assets/plugins/jstree/dist/jstree.min.js"></script>-->
<script src="/static/assets/plugins/holder.js"></script>
<script src="/static/assets/plugins/stilearn-base.js"></script>
<script type="text/javascript" src="/static/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/jquery-multi-select/js/jquery.multi-select.js"></script>
<script src="/static/assets/plugins/select2/select2.js"></script>
<script src="/static/assets/plugins/datatables/extras/TableTools.min.js"></script>
<script src="/static/assets/scripts/custom/table-managed.js"></script>
<script type="text/javascript" src="/static/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/static/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/bootstrap-daterangepicker/moment.min.js"></script>
{#<script type="text/javascript" src="/static/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>#}
{#<script type="text/javascript" src="/static/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>#}
{#<script type="text/javascript" src="/static/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>#}
{#<script src="/static/assets/scripts/custom/components-pickers.js"></script>#}

<script type="text/javascript">
var oTable;
var aButtons
/* Formating function for row details */

$(document).ready(function () {
    $('.date-picker').datepicker({
        rtl: App.isRTL(),
        autoclose: true,
        defaultDate: 0
    });

    aButtons = [
            {
                "sExtends": 'text',

                "sButtonText": '<font color="white">申请</font><i class="fa fa-plus"></i>',
                "sButtonClass": "btn green ",
                "fnComplete": function (nButton, oConfig, nRow) {
                    add()
                }

            },
            {
                "sExtends": 'select',
                "sButtonText": '<font color="white">撤销</font><i class="fa fa-times"></i>',
                "sButtonClass": "btn btn-danger",
                "fnComplete": function (nButton, oConfig, nRow) {
                    del_verify()
                }
            }
        ]
    loaddata()


});
function loaddata() {
    oTable = $('#datatables').dataTable({
        "sAjaxSource": "/vacation_table_data/?rand=" + Math.random(),
        "sDom": "<'row-fluid'<'span6'T><'span6'f>r><'table-scrollable't><'fluid'<'span3'l><'span4'i><'span5'p>>",
        "bServerSide": true,
        "bPaginate": true, // 是否使用分页
        "bProcessing": true, //是否显示正在处理的提示
        "bLengthChange": true, //是否启用设置每页显示记录数
        "bFilter": true, //是否使用搜索
        "bStateSave": false,
        "bDestroy": true,
        "bSort": true, //是否使用排序
        "bAutoWidth": true, //列的宽度会根据table的宽度自适应
        "sPaginationType": "bootstrap",
//        "aLengthMenu": [
//                    [5, 15, 20, -1],
//                    [5, 15, 20, "All"] // change per page values here
//                ],
        "oTableTools": {
            "sRowSelect": "single",
            'aButtons': aButtons
        },
        "aoColumns": [
            { "sClass": "center", 'sWidth': "10%"},
            { "sClass": "center", 'sWidth': "10%"},
            { "sClass": "center", 'sWidth': "10%"},
            { "sClass": "center", 'sWidth': "10%"},
            { "sClass": "center", 'sWidth': "10%"},
            { "sClass": "center", 'sWidth': "10%"},
            { "sClass": "center", 'sWidth': "5%"},
            { "sClass": "center", 'sWidth': "5%"},
            { "sClass": "center", 'sWidth': "5%"},
            { "sClass": "center", 'sWidth': "5%"},
            { "sClass": "center", 'sWidth': "5%"},
            { "sClass": "center", 'sWidth': "5%"},
            { "sClass": "center", 'sWidth': "5%"},
            { "sClass": "center", 'sWidth': "5%"},
            { "sClass": "center", 'sWidth': "5%"},
            { "sClass": "center", 'sWidth': "10%", 'bVisible': false}


        ],
        "aaSorting": [
            [0, 'asc']
        ],
        "oLanguage": {
            "sProcessing": "正在加载数据...",
            'sSearch': '数据筛选:',
            "sLengthMenu": "每页显示 _MENU_ 项记录",
            "sZeroRecords": "没有符合项件的数据...",
            "sInfo": "当前数据为从第 _START_ 到第 _END_ 项数据；总共有 _TOTAL_ 项记录",
            "sInfoEmpty": "显示 0 至 0 共 0 项",
            "sInfoFiltered": "(_MAX_)",
            "oPaginate": {
                "sFirst": '首页',
                "sPrevious": "上一页",
                "sNext": "下一页",
                "sLast": "最后一页"
            }

        },
        "fnInitComplete": function (oSettings, json) {
            $('input[type=checkbox],input[type=radio],input[type=file]').uniform()
        },
        "fnDrawCallback": function (oSettings) {
            $('input[type=checkbox],input[type=radio],input[type=file]').uniform()
        },
        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
{#            aoData.push({csrfmiddlewaretoken: '{{ csrf_token }}'})#}
            $.ajax({
                "dataType": 'json',
                "type": "POST",
                "url": sSource,
                "data": aoData,
                "success": fnCallback
            });
        }
    });
}

function rule_save() {
    var name = $('#name').select2('data');
    var name_list = []
    for (var i in name) {
        name_list.push(name[i]["text"]);
    }
    var department = $('#department').val();
    var supervisor = $('#supervisor').select2('data');
    var supervisor_list = []
    for (var i in supervisor) {
        supervisor_list.push(supervisor[i]["text"]);
    }
    var principal = $('#principal').select2('data');
    var principal_list = []
    for (var i in principal) {
        principal_list.push(principal[i]["text"]);
    }
    var join_date = $('#join_date').val();
    var graduate_year = $('#graduate_year').val();
    if (name == '' || department == '' || supervisor == '' || principal == '' || join_date == '' || graduate_year == '') {
        toastr.error('不能有空白')
        return;
    }
{#    console.info(name_list[0],department,supervisor_list[0],principal_list[0],join_date,graduate_year)#}

    showAjaxLoad()
    $(self).button('loading');//正在登陆中，显示data-loading-text 标记内容


    $.ajax({
        url: '/vacation_table_save/',
        type: "POST",
        data: {
            name: name_list[0],
            department: department,
            supervisor: supervisor_list[0],
            principal: principal_list[0],
            join_date: join_date,
            graduate_year: graduate_year
        },
        success: function (d) {
            hideAjaxLoad()
            if (d.code == 0) {
                toastr.success(d.msg)
                $('#datatables').dataTable().fnDraw()
            } else {
                toastr.error(d.msg)
            }
        }
    });
    $('#myModal').modal('hide')
    $(self).button('complete')
}
function contain(Array, s) {
    for (var i = 0; i < Array.length; i++)
        if (Array[i] == s)
            return true;
    return false;
}
function add() {
    $('#name').select2("data", "")
    $('#department').val("")
    $('#supervisor').select2("data", "")
    $('#principal').select2("data", "")
    $('#join_date').val("")
    $('#graduate_year').val("")
    $.post('/order_form_dropdown/', {}, function (d) {
        $('#name').select2({
            multiple: true,
            placeholder: '请选择员工',
            allowClear: true,
            data: d['list']
        });
        $('#supervisor').select2({
            multiple: true,
            placeholder: '请选择直属主管',
            allowClear: true,
            data: d['list']
        });
        $('#principal').select2({
            multiple: true,
            placeholder: '请选择部门负责人',
            allowClear: true,
            data: d['list']
        });
    })
    $("#myModal").modal('show')
}

function del_verify() {
    var oTT = TableTools.fnGetInstance('datatables');
    var aData = oTT.fnGetSelectedData();
    if (aData.length == 1) {
        $("#myModal2").modal('show')
    }
    else {
        toastr.error('没有选择')
    }
}

function del() {
    var oTT = TableTools.fnGetInstance('datatables');
    var aData = oTT.fnGetSelectedData();
    if (aData.length == 1) {
        showAjaxLoad()
        $.post('/vacation_table_del/', {id: aData[0][15]}, function (d) {
            hideAjaxLoad()
            if (d.code == 0) {
                toastr.success(d.msg)
                $('#datatables').dataTable().fnDraw()
            } else {
                toastr.error(d.msg)
            }
        })
    }
    $('#myModal2').modal('hide')
}
</script>
{% endblock %}